<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ma.Dao.DaoImpl" id="dao"></bean>
    <bean class="ma.Metier.MetierImpl" id="metier">
        <constructor-arg ref="dao"></constructor-arg>
    </bean>
</beans>